html {
	height:100%;
}

body {
	font-family: Verdana, Arial, Sans-Serif;
	font-size: 100.01%;
	height: 100%;
	width: 882px;
	margin: 0 auto 0 auto;
	padding: 0;
	text-align: center;
	color: #333;
}

#middle {
	background: url(img/background.gif) repeat-y center top;
	width: 870px;
	padding: 0 6px 0 6px;
	margin: 0;
}

#content {
	font-size: 82%;
	width: 870px;
}

#header {
	height: 80px;
	overflow: hidden;
}

#logo {
	padding: 20px 30px 10px 30px;
}

#brief {
	font-size: 13px;
	padding: 15px 15px 10px 0px;
	color: #666;
	line-height: 1.4;
}

#info {
	height: 20px;
	text-align: right;
	padding: 3px 20px;
	background-color: #e4edf3;
	color: #006699;
	font-size: 11px;
}

#info a {
	color: #336699;
	text-decoration: none;
}

#directory {
	height: 20px;
	padding: 3px 20px;
	background-color: #e4edf3;
	color: #006699;
	font-size: 12px;
}

#side_menu {
	font-size: 90%;
	width: 170px;
	margin: 30px;
	padding: 5px;
	border-right: 1px solid #e1e1e1;
	line-height: 1.3;
}

#main {
	font-size: inherit;
	line-height: 1.5;
	margin: 0;
	padding: 0 15px 30px 20px;
	list-style-image: url(img/bullet.gif);
}

#doc {
	font-size: inherit;
	line-height: 1.5;
	margin: 0px ;
	padding: 0 50px 30px 50px;
	list-style-image: url(img/bullet.gif);
}

#footer {
	border-top: 1px solid #e1e1e1;
	padding: 10px;
	margin: 0;
	font-size: 85%;
	line-height: 2;
	text-align: center;
	color: #333;
}

#banner {
	padding: 5px 0 5px 0;
	margin: 0;
}


h1, h2 {
	font-family: 'Trebuchet ms', Arial, Tahoma;
}

h1 {
	padding: 0.4em 0 0.2em 0;
	margin: 0;
	font-size: 280%;
	color: #6699cc;
}

h2 {
	padding:  0.6em 0 0 0;
	margin: 0 0 0.5em 0;
	font-size: 200%;
	border-bottom: 2px solid #fc9;
	color: #e60;
}

h2 span {
	font-size: 77%;
}

h3 {
	font-size: 139%;
	color: #666;
	margin: 1.3em 0 0.3em 0;
}

h4 {
	font-size: 108%;
	color: #000066;
	margin: 1em 0 0.3em 0;
}

a {
	color: #006699;
}

a:hover {
	text-decoration: underline;
	color: red;
}

div.toplink {
	text-align: right;
}

div.morelink {
	text-align: right;
}

div.date {
	font-size: 90%;
	font-style: italic;
	color: #666666;
}

td.pad {
	height: 10px;
	padding: 0;
}


div.menu_title {
	width: 160px;
	padding: 0px;
	margin: 0 0 0 5px;
	text-align: center;
	background: #b3b4b5 url(img/menu_top.gif) no-repeat top left;
	color: white;
}

div.menu_title span {
	display: block;
	padding: 2px 15px 2px 15px;
	background-image: url(img/menu_bottom.gif);
	background-position: bottom right;
	background-repeat: no-repeat;
}

div.menu_navi {
	margin: 0;
	padding: 10px 2px 20px 2px;
}

div.menu_navi ul {
	margin: 0 5px;
	padding: 0;
	list-style: none;
}

div.menu_navi li {
	padding: 0;
	display: block;
	border-bottom: 1px solid #eeeeee;
	vertical-align: middle;
}

div.menu_navi li a {
	padding: 0 0 0 10px;
	display: block;
	height: 100%;
	line-height: 1.8;
	color: #006699;
	text-decoration: none;
}

div.menu_navi li a:hover {
	padding: 0 0 0 10px;
	color: black;
	background-color: #D0F7FF;
	text-decoration: none;
}

div.menu_body {
	padding: 10px 5px 25px 5px;
}

div.menu_body a {
	text-decoration: none;
	color: #006699;
}

div.menu_body a:hover {
	text-decoration: underline;
	color: red;
}

div.menu_body ul {
	padding: 0 0 0 10px;
	margin: 0;
	list-style-image: url(img/allow.png);
}

div.menu_body li {
	padding: 0 0 1.5em 0;
	margin: 0;
}

div.menu_date {
	font-style: italic;
	font-size: 90%;
	text-align: right;
	color: #666666;
}

div.doc {
	padding: 40px;
}

pre {
	font-family: 'Lucida Console', 'Courier New';
	font-size: 95%;
	line-height: 1.3;
	margin: 1.2em 2em 1.2em 2em;
	border: 1px solid #c1b496;
	padding: 0.7em 1em;
	background-color: #f6f5f0;
	color: black;
}

pre.terminal {
	font-size: 95%;
	margin-left: 1em;
	padding: 0.6em;
	line-height: 1.5;
	color: white;
	background-color: #333;
	border: 3px inset #999;
}

pre.raw {
	font-size: 100%;
	line-height: 1.2;
	background-color: white;
	border: none;
}

#main table {
	font-size: 100%;
	empty-cells: show;
}

#main table tr th {
	padding: 4px 8px;
	background-color: #eee;
}

#main table td {
	padding: 4px 8px;
}

#main table.box td {
	padding: 15px;
}

#doc table {
	margin: 3px 0;
	font-size: 100%;
	empty-cells: show;
}

#doc table tr th {
	padding: 2px 6px;
	background-color: #eee;
}

#doc table td {
	padding: 2px 6px;
}

#doc table.box td {
	padding: 15px;
}

