html {
	height:100%;
}

body {
	font-family: Verdana, Arial, Sans-Serif;
	padding: 0;
	margin: 0;
	color: black;
}

#content {
	font-size: 82%;
}

#header {
	display: none
}

#side_menu {
	display: none
}

#directory {
	display: none
}

#info {
	display: none
}

#info a {
	display: none
}

#main {
	margin: 0;
	padding: 10px 20px 40px 20px;
	list-style-image: url(img/bullet.gif);
}

#doc {
	margin: 0;
	padding: 10px 20px 40px 20px;
	list-style-image: url(img/bullet.gif);
}

#footer {
	padding: 10px 0 0 0;
	font-size: 0.7em;
	line-height: 2em;
	color: #999;
	text-align: center;
}

#bottom {
	display: none
}


h1, h2 {
	font-family: 'Trebuchet ms', Arial, Tahoma;
}

h1 {
	padding: 0.4em 0 0.2em 0;
	margin: 0;
	font-size: 280%;
	color: #6699cc;
}

h2 {
	padding:  0.4em 0 0 0;
	margin: 0 0 0.5em 0;
	font-size: 200%;
	border-bottom: 2px solid #fc9;
	color: #e60;
}

h2 span {
	font-size: 77%;
}

h3 {
	font-size: 131%;
	color: #333;
	margin: 1em 0 0.3em 0;
}

h4 {
	font-size: 124%;
	margin: 1em 0 0.3em 0;
}

a {
	text-decoration: none;
	color: blue;
}


pre {
	line-height: 1.3;
	font-size: 110%;
	margin: 1em 1em 1em 2em;
	border: 1px solid #c1b496;
	padding: 1em;
	background-color: #f6f5f0;
	color: black;
}

pre.terminal {
	font-size: 110%;
	margin-left: 1em;
	padding: 0.6em;
	color: white;
	background-color: #333;
	border: 3px inset #999;
}

pre.raw {
	font-size: 120%;
	line-height: 1.2;
	background-color: white;
	border: none;
}

div.toplink {
	display: none
}

div.morelink {
	display: none
}

td.pad {
	display: none
}

#main table {
	font-size: 100%;
	empty-cells: show;
}

#main table tr th {
	padding: 4px 8px;
	background-color: #eee;
}

#main table td {
	padding: 4px 8px;
}

#main table.box td {
	padding: 15px;
}

#doc table {
	margin: 3px 0;
	font-size: 100%;
	empty-cells: show;
}

#doc table tr th {
	padding: 2px 6px;
	background-color: #eee;
}

#doc table td {
	padding: 2px 6px;
}

#doc table.box td {
	padding: 15px;
}
